* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(173, 173, 173);
}

/* home page styling */

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(216, 0, 0);
    text-align: center;
}

.recipes {
    padding-top: 125px;
    text-align: center;
}

.recipe {
    display: inline;
    padding: 125px 80px;
}

a {
    background-color: rgb(29, 249, 29);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

/* recipes styling */

img {
    display: block;
    width: 50%;
    margin: auto;
    height: 450px;
}

h3 {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 40px
}

.description {
    margin-top: 40px;
    margin-left: 30px;
}

.ingredients {
    margin-top: 15px;
    margin-left: 30px;
}

.ingredients li {
    padding-bottom: 5px;
}

.steps {
    margin-top: 15px;
    margin-left: 30px;
}

.steps li {
    padding-bottom: 15px;
}





